@charset "utf-8";
/* CSS Document */

.top_middle{ opacity:0;position:relative;top:-100px;}
.left_left, .left_left_load{ left:-100px; position:relative; opacity:0; }
.centerleft{ left:-100px; position:relative; opacity:0;}
.right_right, .right_right_load{ right:-100px; position:relative; opacity:0; }
.hideme, .hideme_load{opacity:0;}

